<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CareMSSQL" value="~/admin/default.aspx" />
    <add key="WebsiteURL" value="http://www.mokshamedia.in/" />
    <add key="CorporateMemberShipEmailId" value="thotagautham@gmail.com" />
    <add key="ADDEXPERT" value="sankar.mokshamedia@gmail.com" />
    <add key="AskEmailID" value="sankar.mokshamedia@gmail.com" />
    <add key="SMTP" value="relay-hosting.secureserver.net" />
    <add key="FolderPath" value="Files/"/>
      <!--<add key="ErrorFile" value="D:\\Hosting\\11503294\\html\\PropertyFile\\ErrorMessage.property"/>
    <add key="FilePath" value="D:\\Hosting\\11503294\\html\\PropertyFile\\merchant.property"/>
    <add key="LogFilePath" value="D:\\Hosting\\11503294\\html\\PropertyFile\\log\\"/>-->
    <add key="TPSLService" value="https://www.tekprocess.co.in/PaymentGateway/services/TransactionDetailsNew" />

    <add key="ErrorFile" value="D:\\24janbackup\\betatesting\\betatesting\\PropertyFile\\ErrorMessage.property" />
    <add key="FilePath" value="D:\\24janbackup\\betatesting\\betatesting\\PropertyFile\\merchant.property" />
    <add key="PropertyFile" value="D:\\24janbackup\\betatesting\\betatesting\\PropertyFile\\merchant.property" />
    <add key="LogFilePath" value="D:\\24janbackup\\betatesting\\betatesting\\PropertyFile\\log\\" />

  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>

    <add name="MSSQLConnString" connectionString="Data Source=mokshadb.db.11503294.hostedresource.com;Initial Catalog=mokshadb;Persist Security Info=True;User ID=mokshadb;Password=MmDB@123" providerName="System.Data.SqlClient" />
    <add name="kfrcMSSQLConnString" connectionString="Data Source=mokshadb.db.11503294.hostedresource.com;Initial Catalog=mokshadb;Persist Security Info=True;User ID=mokshadb;Password=MmDB@123" providerName="System.Data.SqlClient" />
    <add name="kfrcConnString" connectionString="Data Source=mokshadb.db.11503294.hostedresource.com;Initial Catalog=mokshadb;Persist Security Info=True;User ID=mokshadb;Password=MmDB@123" providerName="System.Data.SqlClient" />
    <add name="ConnString" connectionString="Data Source=mokshadb.db.11503294.hostedresource.com;Initial Catalog=mokshadb;Persist Security Info=True;User ID=mokshadb;Password=MmDB@123" providerName="System.Data.SqlClient" />
    <add name="conString" connectionString="Data Source=mokshadb.db.11503294.hostedresource.com;Initial Catalog=mokshadb;Persist Security Info=True;User ID=mokshadb;Password=MmDB@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    
    

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    <trust level="Full" />

   
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal" />
    </securityPolicy>


  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <defaultProxy useDefaultCredentials="true"> </defaultProxy>
  </system.net>
</configuration>